spring.datasource.url=jdbc:oracle:thin:@localhost:1521:orcl
spring.datasource.username=<database user here>
spring.datasource.password=<your password here>
spring.datasource.driver-class-name=oracle.jdbc.driver.OracleDriver